html, body, *{
    margin: 0; 
    padding: 0;
    box-sizing: border-box
}
html, body {
    height: 100%;
}
body {
    padding: 64px;
    height: 100%;
}
.field {
    width: 242px;
    margin: 24px;
    border: 1px solid #1565c0;
}
.field::before, .field::after {
    content: '';
    display: table;
    clear: both;
}
.square {
    display: inline-block;
    float: left;
    height: 24px;
    width: 24px;
    border: 1px solid #0d47a1; 
    background-color: #1565c0;
}
.square.unbroken {
    background-color: #64ffda;
}
.broken {
    background-color: #ff6d00;
}
.missed {
    background-color:  #0d47a1;
}