html, body, *{
    margin: 0; 
    padding: 0;
    box-sizing: border-box
}
html, body {
    height: 100%;
}
body {
    padding: 64px;
    height: 100%;
}
.field {
    width: 242px;
    margin: 24px;
    border: 1px solid #bbdefb;
}
.field::before, .field::after {
    content: '';
    display: table;
    clear: both;
}
.field > div {
    display: inline-block;
    float: left;
    height: 24px;
    width: 24px;
    border: 1px solid #bbdefb; 
    background-color: #e3f2fd;
}
#field-comp .sheep {
    background-color: #e3f2fd;
}

.field .sheep {
    background-color: #81c784;
}
.field .broken,
#field-comp .broken {
    background-color: #ff6d00;
}
.field .missed {
    background-color:  #bbdefb;
}
